.modal {
    height: 100vh;
    width: 100vw;
    position: absolute;
    top: 0;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .modalContent {
    position: relative;
    background: white;
    padding: 3rem 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 500px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  }
  
  .inputGroup {
    margin-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
  }
  .inputField {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .modalButton {
    width: 100%;
    padding: 0.5rem;
    background-color: #2563eb;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 1rem 1rem 0rem;
  }
  
  .modalButton:hover {
    background-color: darkcyan;
  }
  
  .modalCloseButton {
    margin-top: 1rem;
    padding: 0.5rem;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  

  @media (max-width: 624px) {
    .modalContent {
      margin: 2rem;
    }
  }